html {
    background-color: #181A1B;
    color: white;
    font-family: 'Code New Roman', monospace;
    text-align: center;
    cursor: none;
}

.hello {
    font-size: 35px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

.title {
    font-family: 'Inter';
    font-size: 70px;
}

.subtitle {
    font-family: 'Inter';
    font-size: 47px;
    color: white; 
}

.desc .welcomeOnMotd .motd {
    font-size: 15px;
    position: relative;
}

.links {
    position: relative;
    font-size: 20px;
}

.link {
    color: white;
    font-size: 20px;
    text-decoration: none; /* fuck the <a> */
    transition: background 0.5s ease, color 0.5s ease;
    cursor: none;
}

.link:hover {
    background: linear-gradient(to right, rgb(255, 0, 175), rgb(185, 0, 255));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* fuck the safari. */
    cursor: none;
}

#roundcursor {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(255, 0, 175, 0.8   ); 
    backdrop-filter: blur(8px) saturate(180%); /* blur */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid rgb(255, 255, 255); /* shape */
    box-shadow: 0 0 12px rgb(255, 0, 175); /* glow */
    transition: 
        opacity 300ms ease,
        transform 300ms ease,
        width 250ms ease,
        height 500ms ease,
        backdrop-filter 500ms ease; 
}

.fade {
    color: white;
    background-image: linear-gradient(to right, rgb(255, 0, 175), rgb(185, 0, 255));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    animation: fadeInGradient 1s ease 1s forwards;
}

@keyframes fadeInGradient {
    0% {
        color: white;
        background-size: 0% 100%; 
    }
    50% {
        color: rgba(255, 255, 255, 0.5); 
    }
    100% {
        color: transparent;
        background-size: 100% 100%; 
    }
}

