html {
    font-family: 'Inter';
    background-color: #2B2B2B;
    color: white;
    text-align: center;
    cursor: none;
}

.hello {
    font-size: 35px;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    cursor: none;
}

.icon-bar {
    cursor: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #2B2B2B;
    padding: 15px 0;
    gap: 20px;
    position: absolute;
    top: 115%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 999; 
  }

.icon-bar a {
    cursor: none;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
    border-radius: 50px;
}
  
.icon-bar img {
    cursor: none;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
    border-radius: 50px;
}
  
.icon-bar a img:hover {
    cursor: none;
    transform: scale(1.1);
}
.title {
    font-family: 'Inter';
    font-size: 70px;
}

.subtitle {
    font-family: 'Inter';
    font-size: 47px;
    color: white; 
}

.desc .welcomeOnMotd .motd {
    font-size: 15px;
    position: relative;
}

.links {
    font-family: 'Code New Roman', monospace;
    position: relative;
    font-size: 20px;
}

.fade {
    color: white;
    background: linear-gradient(to right, rgb(102, 205, 170), rgb(30, 144, 255));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    animation: fadeInGradient 1s ease 1s forwards;
}

@keyframes fadeInGradient {
    0% {
        color: white;
        background-size: 0% 100%; 
    }
    100% {
        color: rgba(255, 255, 255, 0.5); 
        color: transparent;
        background-size: 100% 100%; 
    }
}

