@font-face {
    font-family: 'Code New Roman';
    src: url('CodeNewRoman.woff2') format('woff2'),
         url('CodeNewRoman.woff2') format('woff'); /* 兼容性考虑 */
    font-weight: normal;
    font-style: normal;
}
